<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Spring ACL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {height: 550px}

        /* Set gray background color and 100% height */
        .sidenav {
            background-color: #f1f1f1;
            height: 100%;
        }

        /* On small screens, set height to 'auto' for the grid */
        @media screen and (max-width: 767px) {
            .row.content {height: auto;}
        }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse visible-xs">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Checking</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-2 sidenav hidden-xs">
            <h2>ACL Test</h2>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="/">Accounts</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul><br>
        </div>
        <br>

        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-10">
                    <div class="well">
                        <h4>Create/Update Account</h4>
                        <form class="form-horizontal" action="#" th:action="@{/}" method="post" th:object="${createAccountForm}">
                            <div class="form-group">
                                <label for="account-id" class="control-label col-xs-2">Account ID</label>
                                <div class="col-xs-6">
                                    <select class="form-control" th:field="*{accountId}" id="account-id">
                                        <option th:value="${null}" th:text="New"></option>
                                        <option th:each="account : ${accountRepo.findAll()}" th:value="${account.id}" th:text="${account.name}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="account-name" class="control-label col-xs-2">Account Name</label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" id="account-name" th:field="*{name}" placeholder="Checking" required th:required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="primary-owner" class="control-label col-xs-2">Primary Owner</label>
                                <div class="col-xs-6">
                                    <select class="form-control" th:field="*{primaryOwner}" id="primary-owner">
                                        <option th:each="user : ${userRepo.findAll()}" th:value="${user.username}" th:text="${user.username}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-2">Joint Owner</label>
                                <div class="col-xs-6">
                                    <div class="form-check form-check-inline checkbox-inline" th:each="user : ${userRepo.findAll()}">
                                        <input class="form-check-input" type="checkbox" th:id="'joint_' + user.id" th:value="${user.username}" th:field="*{jointOwners}">
                                        <label class="form-check-label" th:for="'joint_' + user.id"><span th:text="${user.username}"></span></label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-2">Read Only</label>
                                <div class="col-xs-6">
                                    <div class="form-check form-check-inline checkbox-inline" th:each="user : ${userRepo.findAll()}">
                                        <input class="form-check-input" type="checkbox" th:id="'read_' + user.id" th:value="${user.username}" th:field="*{readOnly}">
                                        <label class="form-check-label" th:for="'read_' + user.id"><span th:text="${user.username}"></span></label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="well">
                        <h4>User</h4>
                        <p><span th:text="${userContextService.currentUsername()}"></span></p>
                    </div>
                </div>
            </div>

            <div class="row" th:each="account : ${accountRepo.findAll()}">
                <div class="col-sm-3">
                    <div class="well">
                        <h4>Account</h4>
                        <p><span th:text="${account.name}"></span></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well">
                        <h4><a th:href="'/accounts/'+ ${account.id} + '/admin'">Owner (admin)</a></h4>
                        <p th:each="principal : ${accountService.getUsersByPermission(account.id, 'administration')}"><span th:text="${principal}"></span></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well">
                        <h4><a th:href="'/accounts/'+ ${account.id} + '/write'">Joint (write)</a></h4>
                        <p th:each="principal : ${accountService.getUsersByPermission(account.id, 'write')}"><span th:text="${principal}"></span></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well">
                        <h4><a th:href="'/accounts/'+ ${account.id} + '/read'">Read (read)</a></h4>
                        <p th:each="principal : ${accountService.getUsersByPermission(account.id, 'read')}"><span th:text="${principal}"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>